simv
**/*.daidir
csrc
vcs.key
program.out
syn_simv
syn_simv.daidir
syn_program.out
dve
**/*.vpd
**/*.vcd
**/*.dump
ucli.key
cm.log
**/*.vdb
urgReport
**/*.vg
**/*.rep
**/*.db
**/*.chk
**/*.log
**/*.out
DVEfiles